body {
  background-color: #ffed9b;
}

.tabTitle {
  background-color: #ffffff;
  border: 1px solid gray;
  margin: 0px 5px;
  padding: 2px 3px;
}

.sliderTitle {
  color: #654A3F;
}

.mechGrpBtn {
  background: white;
  border-right: 1px solid #D1C4B3;
  border-bottom: 1px solid #D1C4B3;
}

.mechText {
  font-size: 0.75em;
  margin-left: 42px;
  color: #654A3F;
  font-weight: bold;
}

.selected {//--the selected mechanism
  border: 2px solid black;
}