$cellWidth: 80px;
$cellHeight: 30px;
$rowTitleW: 180px;
$iconSize: 28px;
$borderGap: 1px;
$columnGap: 5px;
$borderColor: #d2dde3;
@mixin titleLabel {
  font-size: 12px;
}

@mixin ellipsisText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin bob($d) {
  background-color: #8b0000;
  margin-left: $d;
  margin-right: $d;
  margin-top: $d;
}

.dialogLabel {
  font-size: 0.85em;
  width: 100px;
}

@mixin column {
  width: $cellWidth;// + $borderGap;
  border-right: $borderGap solid $borderColor;
  margin-right: $columnGap;
}

.pColumnHeader {
  @include column;
  height: 200px;
  display: inline-block;
  font-size: 0.85em;
  vertical-align: top;
}


.gCell {
  @include column;
  display: inline-block;
  height: $cellHeight;
}

.pColIcon {
  height: 50px;
  margin-top: 10px;
}

.pColIconImg {
  width: $cellWidth * 0.8;
}

.pHeaderRow {
  margin-left: $rowTitleW;
  height: 160px;
}

.pRowHeader {
  width: $rowTitleW;
  display: inline-block;
}

.pRowTitle {
  @include titleLabel;
  @include ellipsisText;
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;
  margin-left: 6px;
  width: $rowTitleW - $iconSize * 2.5;
}

.pColTitle {
  @include titleLabel;
}

.inlineBtn {
  display: inline-block;
  margin: 2px;
}

.mRow {

}
.contLenLbl {
  @include titleLabel;
  vertical-align: top;
}

textarea {
  width: 100%;
  height: 200px;
}