//circle.mainCircle {
//    stroke: hotpink;
//    stroke-width: 1.5px;
//    cursor: pointer;
//}

circle:hover
{
    stroke: #836557;
    stroke-width: 5px;
}

.bubbleIcon {
  pointer-events:none;
}