$imgDir: 'img';
$states: 'hlite', 'off', 'on', 'disabled';
$nums: 0,1,2,3,4,5,6,9,25;

@for $i from 1 through length($states) {
  @for $j from 1 through length($nums) {
    $str: '#{nth($states, $i)}_#{nth($nums, $j)}';
    .coins_#{$str} { background-image: url('#{$imgDir}/coins/#{$str}.png'); };
  }
}

.coins {
  background-repeat: no-repeat;
  background-position: left center;
  width: 42px;
  height: 22px;
  float: left;
  clear: left;
  cursor: pointer;
}
