@import "core";
$coinW: 42px;
$thumbW: 21px;
$imgH: 22px;
$gap: 2px;
//@mixin listcoins($pfx, $states, $nums) {
//  @each $state in $states {
//    @each $num in $nums {
//      .#{$pfx}_#{$state}_#{$num} {
//        background-image: url("img/coins/#{$state}_#{$num}.png");
//      }
//    }
//  }
//}
@mixin sprite($pfx, $states, $types) {
  $x: 0;
  @each $state in $states {
    $y: 0;
    @each $t in $types {
      .#{$pfx}_#{$state}_#{$t} {
        background-position: $x $y;
      }
      $y: $y - $imgH - $gap;
    }
    $x: $x - $thumbW - $gap;
  }
}
@mixin spriten($pfx, $states, $nums) {
  $x: 0;
  @each $state in $states {
    $y: 0;
    @each $num in $nums {
      .#{$pfx}_#{$state}_#{$num} {
        background-position: $x (1-$num)*($imgH+$gap);
      }
    }
    $x: $x - $coinW - $gap;
  }
}

@mixin action_icon($w, $img) {
  background-repeat: no-repeat;
  background-image: url($img);
  float: left;
  cursor: pointer;
  margin-right: 10px;
  width: $w;
  height: $imgH;
}

@include spriten('coins',('off', 'hlite', 'on', 'disabled'), (1,2,3,4,5,6,7,8,9,12,15));
@include sprite('thumbs', ('off','hlite','on'), ('up', 'down'));

.coins {
  clear: left;
  @include action_icon($coinW, 'img/coins_sprite.png');
}

.thumbs_up, .thumbs_down {
  margin-top: -5px;
  clear: none;
  @include action_icon($thumbW, 'img/thumbs_sprite.png');
}

.thumbs_up {
  margin-right: 5px;
}

.tabLogo {
  @include bg_img(url('img/VibrantNEOlogo2040_40.png'), 180px, 40px);
  /*margin-right: 10px;*/
}
