$imgW: 42px;
$imgH: 22px;
$gap: 2px;
@mixin listcoins($pfx, $states, $nums) {
  @each $state in $states {
    @each $num in $nums {
      .#{$pfx}_#{$state}_#{$num} {
        background-image: url("img/coins/#{$state}_#{$num}.png");
      }
    }
  }
}
@mixin sprite($pfx, $states, $nums, $img) {
  $x: 0;
  @each $state in $states {
    $y: 0;
    @each $num in $nums {
      .#{$pfx}_#{$state}_#{$num} {
        background-image: url($img);
        background-position: $x (1-$num)*($imgH+$gap);
      }
    }
    $x: $x - $imgW - $gap;
  }
}

@include sprite('coins',('off', 'hlite', 'on', 'disabled'), (1,2,3,4,5,6,7,8,9,12,15), 'img/coin_sprite.png');
@include listcoins('thumbs', ('off','hlite','on'), ('up', 'down'));

.coins {
  background-repeat: no-repeat;
  width: 42px;
  height: 22px;
  float: left;
  clear: left;
  cursor: pointer;
}

.coins, .thumbs_up, .thumbs_down {
  background-repeat: no-repeat;
  width: $imgW;
  height: $imgH;
  float: left;
  clear: left;
  cursor: pointer;
  margin-right: 10px;
}

.thumbs_up, .thumbs_down {
  clear: none;
  width: 30px;
}

.thumbs_up {
  margin-right: 0;
}