//----------------------colors
$titleColor: #002b51;
$bannerColor: #4d4048;
//----------------------
@mixin bg_img($url, $w, $h) {
  background-image: $url;
  background-repeat: no-repeat;
  background-position: left center;
  width: $w;
  height: $h;
}

@mixin gradient($from, $to) {
/* fallback/image non-cover color */
  background-color: $from;
/* Firefox 3.6+ */
  background-image: -moz-linear-gradient($from, $to);
/* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
/* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient($from, $to);
/* Opera 11.10+ */
  background-image: -o-linear-gradient($from, $to);
}

@mixin fontFam($family, $size: 100%) {
  font-family: $family;
  @if $size != 100% {
    font-size: $size
  }
}

@mixin titleFont($size: 100%) {
  @include fontFam((league-gothic, Arial, sans-serif), $size);
}

@mixin mainFont($size: 100%) {
  @include fontFam((Arial, sans-serif), $size);
}

.ajax_loader_blue {
  @include bg_img(url('img/ajax-loader.gif'), 54px, 55px);
}

.ajax_loader_small {
  @include bg_img(url('img/ajax-loader-sm.gif'), 16px, 16px);
}
