@import "core";

$mainMargin: 30px;

body {
  background-color: #f2f2f2;
}

#rtPane {
  float: right;
  width: 500px;
}

p {
  color: #654A3F;
}

a:link {
  color: #654A3F;
}

a:visited {
  color: #654A3F;
}

.bubbleImg {
  width: 500px;
  height: 500px;
}

#mainGrp {
  margin: $mainMargin;
}

#designProfileGrp {
  padding: 15px;
  background-color: white;
  min-height: 500px;
  font-size: 0.85em;
  color: #48352d;
}

.button_bar {
  margin-top: 12px;
}

#share {
  margin-left: $mainMargin;
  margin-top: $mainMargin;
}

.share_title {
  display: inline-block;
  vertical-align: middle;
}

#addThisTools {
  margin-left: 80px;
  margin-top: -25px;
  vertical-align: middle;
}