@import "page";

$mainMargin: 30px;

body {
  background-color: #f2f2f2;
}

#rtPane {
  float: right;
  width: 500px;
}

p {
  color: #654A3F;
}

a:link {
  color: #654A3F;
}

a:visited {
  color: #654A3F;
}

.bubbleImg {
  width: 500px;
  height: 500px;
}

#mainGrp {
  margin: $mainMargin;
}

.button_bar {
  margin-top: 10px;
  margin-bottom: 6px;
  float: right;
}

#designProfileGrp {
  clear: right;//for button_bar
  padding: 15px;
  background-color: white;
  min-height: 500px;
  font-size: 0.85em;
  color: #48352d;
}

#share {
  margin-left: $mainMargin;
  margin-top: $mainMargin;
  margin-bottom: $mainMargin / 2;
}

.share_title {
  display: inline-block;
  vertical-align: middle;
}

.tell_how {
  @include titleFont(2em);
  position: absolute;
  right: 16px;
  bottom: 10px;
  color: $titleColor;
}

.btn_take {
  cursor: pointer;
}

.challenge {
  margin-top: 12px;
  margin-left: $mainMargin;
}

.take_txt {
  font-size: 20px;
  display: inline-block;
  margin-right: 30px;
}

#thanks_for_playing {
  margin-left: 20px;
}

#take_the_challenge {
  background-color: white;
  border-top: 3px solid $titleColor;
  height: 126px;
  position: relative;//--to allow children to be positioned absolutely within
}

#addThisTools {
  margin-left: 160px;
  margin-top: -25px;
  vertical-align: middle;
}

#bookmarkThisPage {
  text-decoration: underline;
  color: blue;
  font-weight: bold;
  margin-left: 20px;
  cursor: pointer;
}

#btnCreateYours {
  color: $titleColor;
}

.yourScore {
  font-size: 30px;
  font-weight: bold;
  color: $titleColor;
  vertical-align: middle;
}

.banner {
  vertical-align: top;
}

.banner_title {
  @include titleFont(70px);
  padding: 10px 5px;
  color: $titleColor;
  text-transform: uppercase;
  margin-right: 20px;
  display: inline-block;
}

.imagine_my_neo {
  @include bg_img(url('img/bottombar_imaginemyneologo.png'), 299px, 75px);
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}

.my_vibrant_5 {
  @include bg_img(url('img/my_vibrant_5.png'), 162px, 39px);
  display: inline-block;
  vertical-align: middle;
  margin: 6px 3px;
}

.bookmark {
  @include bg_img(url('img/bookmark.png'), null, 36px);
  font-size: 0.8em;
  background-position: left top;
  position: absolute;
  padding-top: 10px;
  top: -6px;
  right: 10px;
}

.leadername {
  background-color: #eee;
  border: 1px solid #666;
  font-size: 0.9em;
  padding: 5px 8px;
  margin-left: 3px;
}

@mixin validity_flag() {
  margin-left: 10px;
  display: inline-block;
}

.valid {
  @include validity_flag;
  color: #b5c137;
}

.invalid {
  @include validity_flag;
  font-weight: bold;
  color: #e9790b;
}

.valid_loader {
  @include validity_flag;
}