.ajax_loader_blue {
  background-image: url("img/ajax-loader.gif");
  background-repeat: no-repeat;
  background-position: left center;
  width: 54px;
  height: 55px; }

.ajax_loader_small {
  background-image: url("img/ajax-loader-sm.gif");
  background-repeat: no-repeat;
  background-position: left center;
  width: 16px;
  height: 16px; }

.tabLogo {
  display: inline-block; }

#vibrantneo_logo {
  background-image: url("img/VibrantNEOlogo2040.png");
  background-repeat: no-repeat;
  background-position: left center;
  width: 166px;
  height: 90px;
  height: 100%;
  background-size: contain;
  cursor: pointer; }

#vibrantneo_cci {
  background-image: url("img/NEO_cci.png");
  background-repeat: no-repeat;
  background-position: left center;
  width: 427px;
  height: 32px;
  vertical-align: bottom; }

#imaginemyneo_logo {
  background-image: url("img/bottombar_imaginemyneologo.png");
  background-repeat: no-repeat;
  background-position: left center;
  width: 299px;
  height: 75px;
  height: 100%;
  background-size: contain;
  float: right;
  margin-right: 12px;
  margin-top: 5px; }

.tabTitle {
  font-family: league-gothic, Arial, sans-serif;
  font-size: 30px;
  color: white;
  cursor: pointer;
  font-weight: normal;
  letter-spacing: 1px;
  height: 35px;
  text-transform: uppercase;
  margin: 0px 6px; }

.tabTitleHighlight {
  border-bottom: 6px solid #AFBD21; }

#logos {
  width: 100%;
  height: 94px; }

#tabs {
  background-color: #4d4048;
  position: relative;
  width: 100%; }

#header {
  min-width: 913px; }

/*override tipsy.css*/
.tipsy-inner a {
  color: #afbd21;
  text-decoration: none; }

.tipsy-inner {
  background-color: #4d4048; }

.tipsy {
  font-family: Arial, sans-serif;
  font-size: 14px; }

#options {
  position: absolute;
  right: 0;
  top: 0; }

.optBtn {
  font-family: Arial, sans-serif;
  color: #dac8cb;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: bold;
  margin-top: 8px;
  margin-right: 8px; }

body {
  background-color: #f2f2f2; }

#rtPane {
  float: right;
  width: 500px; }

p {
  color: #654A3F; }

a:link {
  color: #654A3F; }

a:visited {
  color: #654A3F; }

.bubbleImg {
  width: 500px;
  height: 500px; }

#mainGrp {
  margin: 30px; }

.button_bar {
  margin-top: 10px;
  margin-bottom: 6px;
  float: right; }

#designProfileGrp {
  clear: right;
  padding: 15px;
  background-color: white;
  min-height: 500px;
  font-size: 0.85em;
  color: #48352d; }

#share {
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 15px; }

.share_title {
  display: inline-block;
  vertical-align: middle; }

.tell_how {
  font-family: league-gothic, Arial, sans-serif;
  font-size: 2em;
  position: absolute;
  right: 16px;
  bottom: 10px;
  color: #002b51; }

.btn_take {
  cursor: pointer; }

.challenge {
  margin-top: 12px;
  margin-left: 30px; }

.take_txt {
  font-size: 20px;
  display: inline-block;
  margin-right: 30px; }

#thanks_for_playing {
  margin-left: 20px; }

#take_the_challenge {
  background-color: white;
  border-top: 3px solid #002b51;
  height: 126px;
  position: relative; }

#addThisTools {
  margin-left: 160px;
  margin-top: -25px;
  vertical-align: middle; }

#bookmarkThisPage {
  text-decoration: underline;
  color: blue;
  font-weight: bold;
  margin-left: 20px;
  cursor: pointer; }

#btnCreateYours {
  color: #002b51; }

.yourScore {
  font-size: 30px;
  font-weight: bold;
  color: #002b51;
  vertical-align: middle; }

.banner {
  vertical-align: top; }

.banner_title {
  font-family: league-gothic, Arial, sans-serif;
  font-size: 70px;
  padding: 10px 5px;
  color: #002b51;
  text-transform: uppercase;
  margin-right: 20px;
  display: inline-block; }

.imagine_my_neo {
  background-image: url("img/bottombar_imaginemyneologo.png");
  background-repeat: no-repeat;
  background-position: left center;
  width: 299px;
  height: 75px;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px; }

.play_imagine_my_neo {
  background-image: url("img/play_imaginemyneo.png");
  background-repeat: no-repeat;
  background-position: left center;
  width: 299px;
  height: 75px;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px; }

.my_vibrant_5 {
  background-image: url("img/my_vibrant_5.png");
  background-repeat: no-repeat;
  background-position: left center;
  width: 162px;
  height: 39px;
  display: inline-block;
  vertical-align: middle;
  margin: 6px 3px; }

.bookmark {
  background-image: url("img/bookmark.png");
  background-repeat: no-repeat;
  background-position: left center;
  height: 36px;
  font-size: 0.8em;
  background-position: left top;
  position: absolute;
  padding-top: 10px;
  top: -6px;
  right: 10px; }

.leadername {
  background-color: #eee;
  border: 1px solid #666;
  font-size: 0.9em;
  padding: 5px 8px;
  margin-left: 3px; }

.valid {
  margin-left: 10px;
  display: inline-block;
  color: #b5c137; }

.invalid {
  margin-left: 10px;
  display: inline-block;
  font-weight: bold;
  color: #e9790b; }

.valid_loader {
  margin-left: 10px;
  display: inline-block; }
