//This file is used to defined structural layout of elements
//please make all graphical changes to the same classes in 'theme.scss'

.navbar-fixed-top {
  z-index: 950;
}

.mechSub {
  margin-left: 42px;
  font-size: .75em;
}

.tabTitle {
  cursor: pointer;
  display: inline-block;
}

.sliderPanel {
  float: left;
  padding: 5px;
  padding-left: 8px;
  padding-top: 7px;
}

.sliderDiv {
  float: left;
  width: 150px;
  margin-top: 4px;
  margin-left: 6px;
}

.sliderTitle {
  font-size: 0.8em;
  margin-bottom: 2px;
  margin-left: 8px;
  vertical-align: middle;
  float: left;
  margin-top: 5px;
}

.sliderGrp {
  margin-top: 5px;
  height: 25px;
  vertical-align: middle;
  clear: left;
}

.mechPanel, #priorityList {
  /*height: auto !important; */
  overflow-y: auto;
  border-bottom: 1px solid #E0D5D0;
}

div.panel_money .mechSub, div.panel_money .mechText {
  margin-left: 0;
}

div.panel_impacts #mechm40344173223-2092 {
  display: none;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

#reshowInstr {
  cursor: pointer;
}

.mechGrp {
  margin: 5px;
  padding: 5px;
}

.mechGrpBtn {
  cursor: pointer;
  padding: 5px 4px 4px 5px;
}

.mechIcon {
  float: left;
  clear: left;
}
//===========Info Window===============
.right_wrapper {
  float: left;
  width: 100%;
}
.info_left {
  width: 362px;
  display: block;
  padding: 2px;
  float: left;
  margin-right: 5px;
  margin-left: -100%;
}
.info_left_box > img {
  max-width: 360px;
  margin-bottom: 20px;
}

.info_left_box {
  margin-top: 20px;
}

.info_right {
  margin-left: 375px;
  display: block;
  margin-top: 28px;
}
.info_icon {
  display: inline-block;
  float: left;
  margin-right: 8px;
  margin-top: 2px;
}
.info_right_title {
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 12px;
}

.mechText {
  margin-left: 42px;
}

.mech_action_div {
  vertical-align: middle;
  margin-top: 8px;
  min-height: 24px;
  //display: inline-block;
}

.mech_action {
  margin-left: 50px;
}

.tipsy {
  z-index: 3000;
}
.ui-dialog {
  z-index: 5000 !important;
}

//=====================================
#chart {
  position: fixed;
}

.popover {
  width: 350px;
  max-width: 350px;
  z-index: 1000000;
}

.info_left_title {
  font-size: 1.5em;
}


/*
#chart {
  display: block;
  left: 510px;
  position: absolute;
  top: 80px;
}

#starsLeft {
  padding-left: 30px;
  height: 40px;
  position: absolute;
}

#itemsLeft {
  position: absolute;
  margin-left: 10px;
  width: 500px;
  height: 45px;
}       */

#moreInfo a {
  font-size: .8em;
}

.clickTheIcon {
  font-size: .75em;
}