.ajax_loader_blue {
  background-image: url("img/ajax-loader.gif");
  background-repeat: no-repeat;
  background-position: left center;
  width: 54px;
  height: 55px; }

.ajax_loader_small {
  background-image: url("img/ajax-loader-sm.gif");
  background-repeat: no-repeat;
  background-position: left center;
  width: 16px;
  height: 16px; }

.tabLogo {
  display: inline-block; }

#vibrantneo_logo {
  background-image: url("img/VibrantNEOlogo2040.png");
  background-repeat: no-repeat;
  background-position: left center;
  width: 166px;
  height: 90px;
  height: 100%;
  background-size: contain;
  cursor: pointer; }

#vibrantneo_cci {
  background-image: url("img/NEO_cci.png");
  background-repeat: no-repeat;
  background-position: left center;
  width: 427px;
  height: 32px;
  vertical-align: bottom; }

#imaginemyneo_logo {
  background-image: url("img/bottombar_imaginemyneologo.png");
  background-repeat: no-repeat;
  background-position: left center;
  width: 299px;
  height: 75px;
  height: 100%;
  background-size: contain;
  float: right;
  margin-right: 12px;
  margin-top: 5px; }

.tabTitle {
  font-family: league-gothic, Arial, sans-serif;
  font-size: 30px;
  color: white;
  cursor: pointer;
  font-weight: normal;
  letter-spacing: 1px;
  height: 35px;
  text-transform: uppercase;
  margin: 0px 6px; }

.tabTitleHighlight {
  border-bottom: 6px solid #AFBD21; }

#logos {
  width: 100%;
  height: 94px; }

#tabs {
  background-color: #4d4048;
  position: relative;
  width: 100%; }

#header {
  min-width: 913px; }

body {
  normal: 100% Helvetica, Arial, sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0; }

#tab_logo {
  cursor: pointer;
  background-position: 20px 0; }

#tabs {
  min-width: 800px; }

#tab_group {
  min-width: 800px; }

.tabTitle_wrapper {
  width: 18%;
  display: inline-block; }

.bars {
  width: 100%;
  opacity: 1;
  height: 9px; }

.sliderPanel {
  width: 600px;
  float: left;
  padding: 5px;
  padding-left: 8px;
  padding-top: 7px; }

.sliderDiv {
  float: left;
  width: 150px;
  margin-top: 4px;
  margin-left: 6px; }

.sliderTitle {
  margin-bottom: 2px;
  margin-left: 8px;
  vertical-align: middle;
  float: left;
  margin-top: 5px;
  font-family: Arial, sans-serif;
  font-size: 0.76em; }

/*font-family: "Helvetica Neue" ; }*/
.sliderGrp {
  margin-top: 5px;
  height: 25px;
  vertical-align: middle;
  clear: left; }

.mechGrp {
  margin: 5px;
  padding: 5px; }

.mechGrpBtn {
  cursor: pointer;
  padding: 5px 4px 4px 5px; }

.mechIcon {
  float: left;
  clear: left; }

.right_wrapper {
  float: left;
  width: 100%;
  margin-top: 8px;
  height: 500px;
  overflow-y: scroll; }

.info_left {
  width: 362px;
  display: block;
  padding: 2px;
  float: left;
  margin-right: 5px;
  margin-left: -100%; }

.info_left_box > img {
  max-width: 360px; }

.info_right {
  /*margin-left: 375px;*/
  display: block; }

.info_right_prio_grp {
  margin-bottom: 15px;
  min-height: 70px; }

.info_body {
  font-size: 0.8em; }

.info_icon {
  display: inline-block;
  float: left;
  margin-right: 8px;
  margin-top: 2px; }

.info_right_title {
  font-weight: bold;
  font-size: 1em;
  margin-top: 12px; }

.mechText {
  color: saddlebrown;
  margin-left: 5px;
  font-family: Arial, sans-serif; }

.mech_action_div {
  vertical-align: middle;
  margin-top: 8px;
  min-height: 24px; }

.priority_spending_grp {
  background-color: white;
  border: 1px solid #333333;
  padding: 5px 12px;
  margin-right: 10px; }

.priority_spending {
  margin-top: 8px; }

.priority_spending_title {
  min-height: 45px; }

.mech_action {
  margin-left: 42px;
  color: #654A3F;
  font-weight: bold;
  vertical-align: middle;
  margin-top: 8px;
  min-height: 24px;
  font-family: Arial, sans-serif;
  font-size: 0.7em; }

#chart {
  display: block;
  left: 600px;
  position: absolute; }

#starsLeft {
  left: 10px;
  background-image: url("img/star-pile.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
  height: 40px;
  position: absolute;
  color: white;
  font-family: league-gothic, Arial, sans-serif;
  font-size: 150%; }

.starsLeftNum {
  color: #24ccff;
  font-size: 1.8em; }

#clickInstr {
  padding-left: 30px;
  margin-top: 5px;
  height: 40px;
  position: absolute;
  color: white;
  font-family: league-gothic, Arial, sans-serif;
  font-size: 150%; }

#coinsLeft {
  padding-left: 50px;
  height: 40px;
  position: absolute;
  color: white;
  font-family: league-gothic, Arial, sans-serif;
  font-size: 150%;
  background-image: url("img/Coin_Illustrations_coin_pile.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 49px 41px; }

.coinsLeftNum {
  color: #24ccff;
  font-size: 2em; }

#itemsLeft {
  position: absolute;
  margin-left: 10px;
  width: 500px;
  height: 45px; }

.wrap {
  position: relative;
  margin: 0 auto;
  width: 900px; }

#footer {
  background: #4d4048;
  width: 100%;
  height: 10px;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  z-index: 999999; }

.leftPanel {
  width: 580px !important;
  /*width: 600px;*/
  /*background: #4d4048;*/
  /*width: 100%;*/
  /*height: 40px;*/
  /*overflow: hidden;*/
  /*position: fixed;*/
  /*bottom:0;*/
  /*z-index:999999*/ }

.introFrm {
  background-color: #e2edc6;
  padding: 1%;
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 360px;
  font-family: league-gothic, Arial, sans-serif;
  font-size: 120%;
  color: #4d4048;
  text-transform: uppercase; }

.introTxtH1 {
  position: relative;
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #002b51;
  float: left;
  font-family: league-gothic, Arial, sans-serif;
  font-size: 500%;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1.0;
  text-transform: uppercase; }

.introTxt {
  float: left;
  margin-left: 40px;
  width: 60%;
  color: #3a2825;
  font-family: Arial, sans-serif;
  font-size: 120%;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1.2;
  height: 300px;
  padding-right: 5px;
  overflow-y: auto; }

.introTxt p {
  background-color: rgba(255, 255, 255, 0.5); }

#langSel {
  float: right;
  width: 85%; }

.bigButtonNext {
  color: white;
  background-color: #24ccff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#11B6FF, endColorstr=#0099DD);
  background-image: linear-gradient(to bottom, #11b6ff, #0099dd);
  text-transform: capitalize;
  float: right; }

.bigButtonBack {
  color: white;
  background-color: #24ccff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#11B6FF, endColorstr=#0099DD);
  background-image: linear-gradient(to bottom, #11b6ff, #0099dd);
  text-transform: capitalize;
  float: right; }

#bigButtonHolder {
  position: absolute;
  right: 7px;
  top: 90px; }

#reshowInstr {
  color: #00456a;
  cursor: pointer;
  font-family: league-gothic, Arial, sans-serif;
  position: absolute;
  bottom: -20px;
  right: 5px;
  letter-spacing: 1px; }

#priorityList {
  overflow-y: auto; }

#mechanismList {
  overflow-y: auto; }

#listLoadIcon {
  position: absolute;
  top: 180px;
  left: 40px; }

.colorRamp {
  position: absolute; }

.colorRamp_money {
  background-image: url("img/colorramp_Color_ramp_RED-BLUE_GRADIENT.png");
  background-repeat: no-repeat;
  background-position: left center;
  width: 450px;
  height: 35px; }

.colorRamp_impacts {
  background-image: url("img/colorramp_Color_ramp_RED-BLUE.png");
  background-repeat: no-repeat;
  background-position: left center;
  width: 450px;
  height: 36px; }

.nonvalid {
  color: orange; }

#moreInfo {
  display: block;
  font-size: 0.85em;
  font-style: italic;
  position: absolute;
  text-align: right;
  top: 80px;
  width: 800px; }

.mechPanel {
  border-bottom: 1px solid #E0D5D0;
  height: auto;
  overflow-y: auto; }

.mechCatTitle {
  color: #00456A;
  margin-left: 10px;
  text-transform: uppercase;
  font-family: league-gothic, Arial, sans-serif;
  font-size: 150%; }

.sliderIcon {
  float: left; }

#titleBar {
  padding-top: 10px;
  padding-left: 10px;
  height: 100px; }

.priorityTxtH2 {
  position: relative;
  color: #a9d3e2;
  font-family: league-gothic, Arial, sans-serif;
  font-size: 350%;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1.0; }

.priorityTxtH3 {
  position: relative;
  color: #00456a;
  font-family: league-gothic, Arial, sans-serif;
  font-size: 48%;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1.0;
  padding-top: 5px; }

#options {
  position: absolute;
  right: 0;
  top: 0; }

.optBtn {
  color: #dac8cb;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: bold;
  margin-top: 8px;
  margin-right: 8px; }

strong {
  font-weight: bold; }

.promptTxtS {
  color: #afbd21;
  width: 130px; }

.info_hdr {
  background-repeat: no-repeat;
  background-position: left center;
  font-style: italic;
  color: #002B51;
  margin-bottom: 8px;
  margin-top: 8px; }

.info_left_title {
  font-weight: bold;
  margin-bottom: 4px;
  margin-top: 3px;
  color: #A9D3E2; }

.start_button {
  color: #002b51;
  margin-top: 20px;
  float: right; }

.demoLabel {
  padding-right: 5px;
  display: inline-block;
  width: 100px;
  text-align: right; }

#relationshipInput {
  width: 255px; }

.coinsReset {
  padding-left: 100px;
  height: 40px;
  left: 27px;
  top: 18px;
  position: absolute;
  color: white;
  background-image: url("../img/raty-img/cancel-off.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px 20px; }

.share_btns {
  clear: left; }

/*override tipsy.css*/
.tipsy-inner a {
  color: #afbd21;
  text-decoration: none; }

.tipsy-inner {
  background-color: #4d4048; }

.tipsy {
  font-family: Arial, sans-serif;
  font-size: 14px; }

.tabTitleActive {
  cursor: pointer; }

#introImage {
  background-image: url("img/3D_counties.jpg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: 80px;
  opacity: 0.2;
  position: absolute;
  top: 200px;
  width: 60%;
  height: 80%;
  z-index: -10; }

#introContent {
  display: block; }

#colorRampLegend {
  clear: right;
  float: right;
  margin-top: 3px;
  margin-right: 6px; }
