.ajax_loader_blue {
  background-image: url("img/ajax-loader.gif");
  background-repeat: no-repeat;
  background-position: left center;
  width: 54px;
  height: 55px; }

.tabLogo {
  background-image: url("img/VibrantNEOlogo2040_40.png");
  background-repeat: no-repeat;
  background-position: left center;
  width: 180px;
  height: 40px;
  /*margin-right: 10px;*/ }

body {
  normal: 100% Helvetica, Arial, sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0; }

#tab_logo {
  float: left;
  cursor: pointer;
  background-position: 20px 0; }

.tabTitle {
  color: white;
  cursor: pointer;
  display: block;
  float: left;
  font-family: league-gothic, Arial, sans-serif;
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 1px;
  height: 32px;
  margin-left: 35px;
  margin-top: 5px;
  text-transform: uppercase;
  width: 175px; }

.tabLogo {
  color: white;
  cursor: pointer;
  display: block;
  float: left;
  font-family: league-gothic, Arial, sans-serif;
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 1px;
  height: 32px;
  margin-left: 35px;
  margin-top: 5px;
  text-transform: uppercase;
  width: 175px; }

.tabTitleHighlight {
  border-bottom: 10px solid #AFBD21; }

.bars {
  width: 100%;
  opacity: 1;
  height: 9px; }

.sliderPanel {
  width: 600px;
  float: left;
  padding: 5px;
  padding-left: 8px;
  padding-top: 7px; }

.sliderDiv {
  float: left;
  width: 150px;
  margin-top: 4px;
  margin-left: 6px; }

.sliderTitle {
  font-size: 0.8em;
  margin-bottom: 2px;
  margin-left: 8px;
  vertical-align: middle;
  float: left;
  margin-top: 5px;
  font-family: Arial, sans-serif; }

/*font-family: "Helvetica Neue" ; }*/
.sliderGrp {
  margin-top: 5px;
  height: 25px;
  vertical-align: middle;
  clear: left; }

.mechGrp {
  margin: 5px;
  padding: 5px; }

.mechGrpBtn {
  cursor: pointer;
  padding: 5px 4px 4px 5px; }

.mechIcon {
  float: left;
  clear: left; }

.right_wrapper {
  float: left;
  width: 100%;
  margin-top: 8px;
  height: 500px;
  overflow-y: scroll; }

.info_left {
  width: 362px;
  display: block;
  padding: 2px;
  float: left;
  margin-right: 5px;
  margin-left: -100%; }

.info_left_box > img {
  max-width: 360px; }

.info_right {
  /*margin-left: 375px;*/
  display: block; }

.info_right_prio_grp {
  margin-bottom: 15px;
  min-height: 70px; }

.info_body {
  font-size: 0.8em; }

.info_icon {
  display: inline-block;
  float: left;
  margin-right: 8px;
  margin-top: 2px; }

.info_right_title {
  font-weight: bold;
  font-size: 1em;
  margin-top: 12px; }

.mechText {
  color: saddlebrown;
  margin-left: 5px;
  font-family: Arial, sans-serif; }

.mech_action_div {
  vertical-align: middle;
  margin-top: 8px;
  min-height: 24px; }

.priority_spending_grp {
  background-color: white;
  border: 1px solid #333333;
  padding: 5px 12px;
  margin-right: 10px; }

.priority_spending {
  margin-top: 8px; }

.priority_spending_title {
  min-height: 45px; }

.mech_action {
  font-size: 0.70em;
  margin-left: 42px;
  color: #654A3F;
  font-weight: bold;
  vertical-align: middle;
  margin-top: 8px;
  min-height: 24px;
  font-family: Arial, sans-serif; }

#chart {
  display: block;
  /*left: 510px;*/
  left: 600px;
  position: absolute; }

/*padding-left: 1cm;}*/
#starsLeft {
  left: 10px;
  background-image: url("img/star-pile.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
  height: 40px;
  position: absolute;
  color: white;
  font-family: league-gothic, Arial, sans-serif;
  font-size: 150%; }

.starsLeftNum {
  color: #24ccff;
  font-size: 2em; }

#clickInstr {
  padding-left: 30px;
  height: 40px;
  position: absolute;
  color: white;
  font-family: league-gothic, Arial, sans-serif;
  font-size: 150%; }

#coinsLeft {
  padding-left: 50px;
  height: 40px;
  position: absolute;
  color: white;
  font-family: league-gothic, Arial, sans-serif;
  background-image: url("img/Coin_Illustrations_coin_pile.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 49px 41px;
  font-size: 150%; }

.coinsLeftNum {
  color: #24ccff;
  font-size: 2em; }

#itemsLeft {
  position: absolute;
  margin-left: 10px;
  width: 500px;
  height: 45px; }

#header {
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  background-attachment: scroll;
  background-clip: border-box;
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
  cursor: auto;
  display: block;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%; }

.wrap {
  position: relative;
  margin: 0 auto;
  width: 900px; }

#footer {
  background: #4d4048;
  width: 100%;
  height: 10px;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  z-index: 999999; }

.leftPanel {
  width: 580px !important;
  /*width: 600px;*/
  /*background: #4d4048;*/
  /*width: 100%;*/
  /*height: 40px;*/
  /*overflow: hidden;*/
  /*position: fixed;*/
  /*bottom:0;*/
  /*z-index:999999*/ }

.introFrm {
  background-color: #ecf1ef;
  padding: 1%;
  /*float: top-left;*/
  /*float: top;*/
  float: left;
  right: 20px;
  top: 400px;
  width: 360px;
  font-family: league-gothic, Arial, sans-serif;
  font-size: 120%;
  color: #4d4048;
  height: 400px;
  text-transform: uppercase; }

.introTxtH1 {
  position: relative;
  margin-left: 40px;
  /*padding-bottom: 5%;*/
  /*width: 60%;*/
  /*color: rgb(169, 211, 226);*/
  color: #002b51;
  float: left;
  font-family: league-gothic, Arial, sans-serif;
  font-size: 500%;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1.0;
  text-transform: uppercase;
  margin-bottom: -50px; }

.introTxt {
  float: left;
  margin-left: 40px;
  width: 60%;
  color: #3a2825;
  font-family: Arial, sans-serif;
  font-size: 110%;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1.4;
  height: 300px;
  padding-right: 5px;
  overflow-y: auto; }

#langSel {
  float: right;
  width: 85%; }

.bigButtonNext {
  color: white;
  background-color: #24ccff;
  background-image: linear-gradient(to bottom, #11b6ff, #0099dd);
  text-transform: capitalize;
  float: right; }

.bigButtonBack {
  color: white;
  background-color: #24ccff;
  background-image: linear-gradient(to bottom, #11b6ff, #0099dd);
  text-transform: capitalize;
  float: right; }

#bigButtonHolder {
  position: absolute;
  right: 7px;
  top: 90px; }

#reshowInstr {
  /*clear: right;*/
  /*float: right;*/
  /*cursor: pointer;*/
  color: #00456a;
  cursor: pointer;
  font-family: league-gothic, Arial, sans-serif;
  /*font-size: 0.7em;*/
  /*font-weight: bold;*/
  position: absolute;
  top: 130px;
  letter-spacing: 1px; }

#priorityList {
  overflow-y: auto;
  /*height: 384.5px;*/ }

#listLoadIcon {
  position: absolute;
  top: 180px;
  left: 40px; }

.colorRamp {
  background-position: left center;
  background-repeat: no-repeat;
  height: 40px;
  position: absolute;
  width: 450px; }

.colorRamp_money {
  background-image: url("../img/colorramp_Color_ramp_RED-BLUE_GRADIENT.png"); }

.colorRamp_impacts {
  background-image: url("../img/colorramp_Color_ramp_RED-BLUE.png"); }

.nonvalid {
  color: orange; }

#moreInfo {
  display: block;
  font-size: 0.85em;
  font-style: italic;
  position: absolute;
  text-align: right;
  top: 80px;
  width: 800px; }

.mechPanel {
  border-bottom: 1px solid #E0D5D0;
  height: 500px;
  overflow-y: auto; }

.mechCatTitle {
  color: #00456A;
  margin-left: 10px;
  text-transform: uppercase;
  font-family: league-gothic, Arial, sans-serif;
  font-size: 150%; }

.sliderIcon {
  float: left; }

#titleBar {
  padding-top: 10px;
  padding-left: 10px;
  height: 100px; }

.priorityTxtH2 {
  position: relative;
  color: #a9d3e2;
  /*float: left;*/
  font-family: league-gothic, Arial, sans-serif;
  font-size: 350%;
  /*padding-bottom: 1%;*/
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1.0; }

.priorityTxtH3 {
  position: relative;
  color: #00456a;
  font-family: league-gothic, Arial, sans-serif;
  font-size: 48%;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1.0;
  padding-top: 5px; }

#options {
  float: right; }

.optBtn {
  color: #dac8cb;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: bold;
  margin-top: 8px;
  margin-right: 8px; }

strong {
  font-weight: bold; }

.promptTxtS {
  color: #afbd21;
  width: 130px; }

.info_hdr {
  background-repeat: no-repeat;
  background-position: left center;
  font-style: italic;
  color: #002B51;
  margin-bottom: 8px;
  margin-top: 8px; }

.info_left_title {
  font-weight: bold;
  margin-bottom: 4px;
  margin-top: 3px;
  color: #A9D3E2; }

.demoLabel {
  padding-right: 5px;
  display: inline-block;
  width: 100px;
  text-align: right; }

#relationshipInput {
  width: 255px; }

.coinsReset {
  padding-left: 100px;
  height: 40px;
  left: 27px;
  top: 18px;
  position: absolute;
  color: white;
  background-image: url("../img/raty-img/cancel-off.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px 20px; }

.share_btns {
  clear: left; }

/*override tipsy.css*/
.tipsy-inner a {
  color: #afbd21;
  text-decoration: none; }

.tipsy {
  font-size: 16px; }

.tabTitleActive {
  cursor: pointer; }

#vibrantneo_logo {
  background-image: url("img/VibrantNEOlogo2040_40.png");
  background-repeat: no-repeat;
  background-position: left center;
  width: 15%;
  height: 90%;
  background-size: 100% 100%;
  /*margin-right: 10px;*/ }

#noscc_logo {
  background-image: url("img/bottombar_neoscc text.png");
  background-repeat: no-repeat;
  padding-top: 20px;
  background-size: 80%, 80%;
  height: 120%;
  width: 47%;
  /*margin-right: 10px;*/ }

#imaginemyneo_logo {
  background-image: url("img/bottombar_imaginemyneologo.jpg");
  background-repeat: no-repeat;
  float: right;
  background-size: 90%, 90%;
  height: 90%;
  width: 15%; }

#tabs {
  background-color: #4d4048;
  position: relative;
  float: left;
  display: block;
  width: 100%; }

#logos {
  position: relative;
  float: left;
  display: block;
  width: 100%;
  height: 100px; }

#introImage {
  background-image: url("img/3D_counties.jpg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: 80px;
  opacity: 0.2;
  position: absolute;
  top: 150px;
  width: 60%;
  height: 80%; }

#introContent {
  display: block; }
