.ajax_loader_blue {
  background-image: url("img/ajax-loader.gif");
  background-repeat: no-repeat;
  background-position: left center;
  width: 54px;
  height: 55px; }

.ajax_loader_small {
  background-image: url("img/ajax-loader-sm.gif");
  background-repeat: no-repeat;
  background-position: left center;
  width: 16px;
  height: 16px; }

.tabLogo {
  display: inline-block; }

#vibrantneo_logo {
  background-image: url("img/VibrantNEOlogo2040.png");
  background-repeat: no-repeat;
  background-position: left center;
  width: 166px;
  height: 90px;
  height: 100%;
  background-size: contain;
  cursor: pointer; }

#vibrantneo_cci {
  background-image: url("img/NEO_cci.png");
  background-repeat: no-repeat;
  background-position: left center;
  width: 427px;
  height: 32px;
  vertical-align: bottom; }

#imaginemyneo_logo {
  background-image: url("img/bottombar_imaginemyneologo.png");
  background-repeat: no-repeat;
  background-position: left center;
  width: 299px;
  height: 75px;
  height: 100%;
  background-size: contain;
  float: right;
  margin-right: 12px;
  margin-top: 5px; }

.tabTitle {
  font-family: league-gothic, Arial, sans-serif;
  font-size: 30px;
  color: white;
  cursor: pointer;
  font-weight: normal;
  letter-spacing: 1px;
  height: 35px;
  text-transform: uppercase;
  margin: 0px 6px; }

.tabTitleHighlight {
  border-bottom: 6px solid #AFBD21; }

#logos {
  width: 100%;
  height: 94px; }

#tabs {
  background-color: #4d4048;
  position: relative;
  width: 100%; }

#header {
  min-width: 913px; }

/*override tipsy.css*/
.tipsy-inner a {
  color: #afbd21;
  text-decoration: none; }

.tipsy-inner {
  background-color: #4d4048; }

.tipsy {
  font-family: Arial, sans-serif;
  font-size: 14px; }

body {
  overflow: hidden; }

svg {
  display: block; }

.label {
  font: 10px Verdana, Arial, Helvetica, sans-serif;
  margin-left: 5px; }

.arc {
  stroke: #ffffff;
  stroke-opacity: 1; }

.shadow {
  fill: #000000;
  stroke: none;
  opacity: 0.6; }

#svgDiv {
  position: absolute;
  height: 100%;
  top: 0; }

#itemList_wrapper {
  width: 400px;
  position: absolute;
  height: 100%;
  top: 0;
  overflow-y: scroll; }

#itemList {
  padding: 10px; }

#barChart {
  position: absolute;
  padding: 10px;
  left: 350px; }

.itemLegendRow {
  border: 2px solid white;
  cursor: pointer;
  vertical-align: middle; }

.itemColorItem {
  border: 1px solid #756561;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 3px;
  font-size: 0.6em;
  padding: 1px;
  text-align: center; }

.selected {
  border: 2px solid #654A3F;
  background-color: #EEE; }

.itemItemLabel {
  width: 300px;
  margin-left: 5px;
  display: inline-block;
  font-size: 0.8em;
  vertical-align: top;
  margin-top: 2px; }

#svgMain {
  position: absolute; }

/*=============================city chart============*/
.itemLabel {
  font-size: 0.8em;
  pointer-events: none; }

.chartBgDark {
  fill: #654A3F;
  opacity: 0.2; }

/*=============================bar chart============*/
.barChartSvg {
  pointer-events: none; }

.bar rect {
  fill: steelblue;
  stroke: #756561;
  shape-rendering: crispEdges; }

.barLabel {
  font-weight: bold;
  font-size: 8.5pt;
  dominant-baseline: central; }

.barLabelInner {
  fill: #756561; }

.barLabelOuter {
  stroke: white;
  stroke-width: 3px;
  stroke-linejoin: round; }

.centerCircle {
  pointer-events: none;
  fill: #756561; }

.centerCircleText {
  pointer-events: none;
  font-weight: bold;
  fill: white;
  text-anchor: middle;
  font-size: 7pt;
  font-family: Helvetica, sans-serif; }

.xAxisCircle {
  fill: #756561; }

.xAxisText {
  font-weight: bold;
  fill: white;
  text-anchor: middle;
  font-size: 7pt;
  font-family: Helvetica, sans-serif; }

#options a {
  color: white; }

.tabTitle_wrapper_priority {
  width: 160px;
  display: inline-block; }

.tabTitle_wrapper_mechanism {
  width: 240px;
  display: inline-block; }

#content {
  position: relative;
  top: 0;
  left: 0; }

#tab_group {
  width: 425px; }

#vibrantneo_logo {
  cursor: pointer; }

#imaginemyneo_logo {
  cursor: pointer; }
