@import "page";

$itenListWidth: 400px;
$headerHt: 40px;

body {
  overflow: hidden;
}

svg {
  display: block;
}

.label {
  font: 10px Verdana, Arial, Helvetica, sans-serif;
  margin-left: 5px;
}

.arc {
  stroke: #ffffff;
  stroke-opacity: 1;
}

.shadow {
  fill: #000000;
  stroke: none;
  opacity: 0.6;
}

#svgDiv {
  position: absolute;
  height: 100%;
  top: 0;
}

#itemList_wrapper {
  width: $itenListWidth;
  position: absolute;
  height: 100%;
  top: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
#itemList {
  //background-color: white;
  padding: 10px;
}

#barChart {
  position: absolute;
  padding: 10px;
  left: 350px;
}

.itemLegendRow {
  border: 2px solid white;
  cursor: pointer;
  vertical-align: middle;
}

.itemColorItem {
  border: 1px solid #756561;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 3px;
  font-size: 0.6em;
  padding: 1px;
  text-align: center;
}

.selected {
  border: 2px solid #654A3F;
  background-color: #EEE;

}

.itemItemLabel {
  width: 300px;
  margin-left: 5px;
  display: inline-block;
  font-size: 0.8em;
  vertical-align: top;
  margin-top: 2px;
}

#svgMain {
  position: absolute;
}

/*=============================city chart============*/

.itemLabel {
  font-size: 0.8em;
  pointer-events: none;
}

.chartBgDark {
  fill: #654A3F;
  opacity: 0.2;
}

/*=============================bar chart============*/

.barChartSvg {
  pointer-events: none;
}

.bar rect {
  fill: steelblue;
  stroke: #756561;
  shape-rendering: crispEdges;
}

.barLabel {
  font-weight: bold;
  font-size: 8.5pt;
  dominant-baseline: central;
}

.barLabelInner {
  fill: #756561;
}

.barLabelOuter {
  stroke: white;
  stroke-width: 3px;
  stroke-linejoin: round;
}

.centerCircle {
  pointer-events: none;
  fill: #756561;
}

.centerCircleText {
  pointer-events: none;
  font-weight: bold;
  fill: white;
  text-anchor: middle;
  font-size: 7pt;
  font-family: Helvetica, sans-serif;
}

.xAxisCircle {
  fill: #756561;
}

.xAxisText {
  font-weight: bold;
  fill: white;
  text-anchor: middle;
  font-size: 7pt;
  font-family: Helvetica, sans-serif;
}

#options a {
  color: white;
}

.tabTitle_wrapper_priority {
  width: $itenListWidth*0.4;
  display: inline-block;
}

.tabTitle_wrapper_mechanism {
  width: $itenListWidth*0.6;
  display: inline-block;
}

#content {
  position: relative;
  top: 0;
  left: 0;
}

#tab_group {
  width: $itenListWidth + 25px;
}

#imaginemyneo_logo {
  cursor: pointer;
  background-image: url("img/play_imaginemyneo.png");//--override page.scss and use 'play' version of the logo
}

#reshowInstr {
//  top: 10px;
//  color: white;
//  cursor: pointer;
//  @include titleFont(100%);
//  right: 5px;
//  letter-spacing: 1px;
//  margin-top: 8px;
//  font-size: 1.1em;
}

p + p {
  text-indent: 1em;
  margin-top: 1em;
}