body {
  background-color: #ffed9b; }

.sliderTitle {
  color: #654A3F; }

.mechGrp {
  margin: 5px;
  padding: 5px; }

.mechGrpBtn {
  background: white;
  border-right: 1px solid #D1C4B3;
  border-bottom: 1px solid #D1C4B3; }

.mechGrpBox {
  background: white;
  border-right: 1px solid #D1C4B3;
  border-bottom: 1px solid #D1C4B3;
  padding: 5px 4px 4px 5px; }

.mechText {
  font-size: 0.75em;
  color: #654A3F;
  font-weight: bold; }

.mechText {
  font-size: 0.75em;
  margin-left: 42px;
  color: #654A3F;
  font-weight: bold; }

.selected {
  border: 2px solid black; }

.btn-primary {
  text-transform: capitalize; }

.starsLeftNum, .coinsLeftNum {
  font-family: 'Telex', sans-serif;
  font-size: 2em;
  color: #45aeea; }

.colorRamp_impacts {
  background-image: url("img/color_ramp_red_blue.png"); }

.colorRamp_money {
  background-image: url("img/color_ramp_red_blue_gradient.png"); }

#colorRampLegend {
  display: block;
  height: 50px;
  width: 450px;
  background-repeat: no-repeat; }
